/* Establece el fondo del formulario y colores de encabezados y botones */

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container {
    background-color: #fff;
}

.container h1 {
    background-color: #66ff66;
}

.container h2 {
    background-color: #66ff66;
}

button {
    background-color: #66ff66;
    color: #fff;
}

/* bordes redondos y con sombras*/
.container {
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
